{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-async-generator-functions"
  ]
}
